@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  color-scheme: light;
  color: black;
  background-color: #f9fafb;
  /* font-size: 14px; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e8f0fe inset !important;
  -webkit-text-fill-color: black !important;
}

button {
  cursor: pointer;
}

@theme {
  --color-primary: rgb(14, 117, 200);
  --color-blue: #2563eb;
  --color-secondary: rgb(157, 206, 248);
  --color-green: #059669;

  --text-title: clamp(1.75rem, 2vw + 1rem, 2.5rem);
  --text-subtitle: clamp(1.25rem, 1.5vw + 0.5rem, 1.75rem);
  --text-body: clamp(16px, 1vw + 14px, 18px);
  --text-normal: clamp(14px, 1rem, 1.125rem);
  --text-small: clamp(11px, 12px, 14px);
  --text-tiny: clamp(10px, 12px, 13px);
}

input[type="date"],
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: #111827;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}
